.App{
  font-family:'NanumBarunPen';
  }
.nav {
  padding: 0px 0px; /* 위와 아래에 여백 추가 */
  width: 100%;
}

.nav ul {
    display: flex; /* 가로로 정렬 */
    justify-content: center; /* 항목들을 가운데 정렬 */
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.nav li {
    margin: 0 20px;
    padding:5px 6rem;
    text-align:center;
    font-weight:bold;
    display:inline-block;
    font-size:35px;
    list-style-type:none;
}

.nav a {
    font-size: 1.2rem;
    text-decoration: none;
    padding: 20px 16px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav a:hover {
    color: #ff6347;
    background-color: rgba(255, 99, 71, 0.1); 
    border-radius: 10px; 
}  